/src/*/System/Model/Test/
/src/Library/Access/Tests*.php

# Dev and CI builds
*.cache
/.playground
/.playground.php
/build/
/cache/
/dist/
/logs/
/storage/cache/
/storage/logs/
/storage/temp/
/temp/
captainhook.config.json
cghooks.lock

# Docker
docker-compose.override.yml
docker/@local

# Wordpress
/wordpress/

# Composer
/vendor/
composer.lock
/studio.json

# Env
*.env
.env.*
!.env.example

# Editor/ IDE
*.code-workspace
.vscode/*
!.vscode/extensions.json
.idea
.project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
