# Wordpress
/wordpress/

# Dev and CI builds
*.cache
/build/
/dist/
/logs/
/temp/
captainhook.config.json
cghooks.lock
docker-compose.override.yml

# Composer
/vendor/
composer.lock

# Env
*.env
.env.*
.*.env
!.env.example

# Editor/ IDE
.idea/
.project/
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db
