# Wordpress (included for code completion)
/wordpress/

# Dev and CI builds
/build/

# PHPUnit
.phpunit.result.cache

# Composer
/vendor/
composer.lock

# Env files
.env
.env.*
.*.env
*.env

# Editor/ IDE
.idea/
.project/
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db
