parameters:
	ignoreErrors:
		-
			message: "#^Offset \"\\\\000WP_Theme\\\\000headers\" does not exist on array\\{update\\: bool\\}\\.$#"
			count: 1
			path: src/Framework/Theme/Theme.php

		-
			message: "#^Call to an undefined method Leonidas\\\\Contracts\\\\Admin\\\\Component\\\\Metabox\\\\MetaboxComponentInterface\\:\\:addContent\\(\\)\\.$#"
			count: 1
			path: src/Library/Admin/Component/Metabox/Element/Fieldset.php

		-
			message: "#^Call to an undefined method Leonidas\\\\Contracts\\\\Admin\\\\Component\\\\Metabox\\\\MetaboxComponentInterface\\:\\:setPadding\\(\\)\\.$#"
			count: 1
			path: src/Library/Admin/Component/Metabox/Element/Fieldset.php

		-
			message: "#^Call to an undefined method Leonidas\\\\Contracts\\\\Admin\\\\Component\\\\Metabox\\\\MetaboxFieldInterface\\:\\:setLabel\\(\\)\\.$#"
			count: 1
			path: src/Library/Admin/Component/Metabox/Element/Fieldset.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Library/Admin/Component/Metabox/Element/Fieldset.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Library/System/Configuration/Taxonomy/AdaptedTaxonomy.php
