includes:
  - phpstan-baseline.neon

parameters:
  level: 5
  tmpDir: build/phpstan
  reportUnmatchedIgnoredErrors: false

  paths:
    - src
    - bin
    - boot
    - config
    - tests
    - examples
    - plugin.php
    - wp-config.php

  ignoreErrors:
    - '#^Access to an undefined property WP_Taxonomy::\$options.$#'
    - '#^Access to an undefined property Wp_Error|WP_Taxonomy::\$options.$#'
    - '#^Access to an undefined property WP_Post_Type::\$options.$#'
    - '#^Access to an undefined property Wp_Error|WP_Post_Type::\$options.$#'
    # General
    - '#^Unsafe usage of new static\(\).$#'
