parameters:
  level: 0

  paths:
    - src
    - boot
    - config
    - tests

  bootstrapFiles:
    - wordpress/wp-includes/wp-db.php

  scanDirectories:
    - wordpress/wp-admin/includes
    - wordpress/wp-includes

  tmpDir: build/phpstan
