<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
  backupGlobals="false"
  backupStaticAttributes="false"
  beStrictAboutCoversAnnotation="true"
  beStrictAboutOutputDuringTests="false"
  beStrictAboutTodoAnnotatedTests="true"
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  defaultTestSuite="unit"
  executionOrder="depends,defects"
  forceCoversAnnotation="false"
  processIsolation="false"
  stopOnFailure="true"
  testdox="true"
  verbose="true">

  <!-- Testsuites -->
  <testsuites>
    <!-- Unit Testing -->
    <testsuite name="unit">
      <directory>tests/unit</directory>
    </testsuite>

    <testsuite name="unit.admin">
      <directory>tests/unit/admin</directory>
    </testsuite>

    <testsuite name="unit.admin.ui">
      <directory>tests/unit/admin/ui</directory>
    </testsuite>

    <!-- Integration Testing -->
    <testsuite name="integration">
      <directory>tests/integration</directory>
    </testsuite>

    <!-- Acceptance Testing -->
    <testsuite name="acceptance">
      <directory>tests/acceptance</directory>
    </testsuite>
  </testsuites>

  <!-- Coverage -->
  <coverage cacheDirectory="build/phpunit/coverage/.cache">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <html outputDirectory="build/phpunit/coverage/html"/>
    </report>
  </coverage>

  <!-- Logging -->
  <logging>
    <junit outputFile="build/phpunit/logs/report.junit.xml"/>
    <teamcity outputFile="build/phpunit/logs/teamcity.txt"/>
    <testdoxHtml outputFile="build/phpunit/logs/testdox.html"/>
    <testdoxText outputFile="build/phpunit/logs/testdox.txt"/>
    <testdoxXml outputFile="build/phpunit/logs/testdox.xml"/>
    <text outputFile="build/phpunit/logs/logfile.txt"/>
  </logging>

</phpunit>
