<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
  backupGlobals="false"
  backupStaticAttributes="false"
  beStrictAboutCoversAnnotation="true"
  beStrictAboutOutputDuringTests="false"
  beStrictAboutTodoAnnotatedTests="true"
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  executionOrder="depends,defects"
  forceCoversAnnotation="false"
  processIsolation="false"
  testdox="true"
  verbose="true"
  stopOnFailure="false">

  <!-- Testsuites -->
  <testsuites>
    <testsuite name="default">
      <directory>tests/unit</directory>
    </testsuite>

    <testsuite name="Admin">
      <directory>tests/unit/admin</directory>
    </testsuite>

    <testsuite name="Ui">
      <directory>tests/unit/admin/ui</directory>
    </testsuite>
  </testsuites>

  <!-- Coverage -->
  <coverage cacheDirectory="build/phpunit/coverage/.cache">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <html outputDirectory="build/phpunit/coverage/html"/>
    </report>
  </coverage>

  <!-- Logging -->
  <logging>
    <junit outputFile="build/phpunit/log/report.junit.xml"/>
    <teamcity outputFile="build/phpunit/log/teamcity.txt"/>
    <testdoxHtml outputFile="build/phpunit/log/testdox.html"/>
    <testdoxText outputFile="build/phpunit/log/testdox.txt"/>
    <testdoxXml outputFile="build/phpunit/log/testdox.xml"/>
    <text outputFile="build/phpunit/log/logfile.txt"/>
  </logging>

</phpunit>
