<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
  backupGlobals="false"
  backupStaticAttributes="false"
  beStrictAboutCoversAnnotation="true"
  beStrictAboutOutputDuringTests="false"
  beStrictAboutTodoAnnotatedTests="true"
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  executionOrder="depends,defects"
  forceCoversAnnotation="false"
  processIsolation="false"
  testdox="true"
  verbose="true"
  stopOnFailure="false">

  <!-- Testsuites -->
  <testsuites>
    <testsuite name="default">
      <directory>tests/unit</directory>
    </testsuite>

    <testsuite name="Admin">
      <directory>tests/unit/admin</directory>
    </testsuite>

    <testsuite name="Ui">
      <directory>tests/unit/admin/ui</directory>
    </testsuite>
  </testsuites>

  <!-- Filters -->
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>

  <!-- Logging -->
  <logging>
    <log type="junit"
      target="build/report.junit.xml"/>
    <log type="coverage-html"
      target="build/coverage"/>
    <log type="coverage-text"
      target="build/coverage.txt"/>
    <log type="coverage-clover"
      target="build/logs/clover.xml"/>
  </logging>

</phpunit>
