<tr class="form-field">
    <th scope="row" valign="top">
        <label for="{{ field_id }}">{{ label }}</label>
    </th>
    <td>
        {{ field }}
        <p class="description">{{ description }}</p>
    </td>
</tr>