.leonidas-wrap {
    @import "bootstrap/bootstrap-grid.scss";
    // @import "bootstrap/type";
}

.thing {
    background-color: white;
    max-width: 20em;
    // max-height: (19px * 6) + (3px * 2);
    height: (19px * 6) + (3px * 2);
    overflow-y: scroll;
    padding: 3px 5px;
    margin: 1px;
    border: 1px rgb(221, 221, 221) solid;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    line-height: normal;
    cursor: default;

    ul,
    li {
        margin: 0;
    }

    li {
        &:hover {
            background-color: rgb(221, 221, 221);
            margin: 0 -5px;
            padding: 0 5px;
        }
    }
}

.mb-simp-text {
    max-width: 100%;
}

// .inline-block {
//     display: inline-block;
//     float: right;
// }

// .leonidas-meta-table {
//     display: inline;
// }