# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore asset src and build files.
/.babelrc                export-ignore
/.browserslistrc         export-ignore
/.editorconfig           export-ignore
/build                   export-ignore
/gulpfile.js             export-ignore
/src                     export-ignore
/webpack.config.js       export-ignore
