<div class="wrap">

  {# title #}
  {% block title %}
    <h1>{{ title }}</h1>
  {% endblock %}

  {# alerts #}
  {% block alerts %}
    {{ alerts }}
  {% endblock %}

  {# description #}
  {% if description is not empty %}

    {% block description %}
      <p>{{ description }}</p>
    {% endblock %}

  {% endif %}

  {# layout #}
  {% block layout %}
    {{ layout }}
  {% endblock %}

</div>