{% extends "admin-page-template.twig" %}

{% block alerts %}
  {{ settings_errors() }}
{% endblock %}

{% block layout %}

  <form action="options.php" method="post">

    {{ settings_fields(option_group) }}
    {{ do_settings_sections(page) }}
    {{ submit_button() }}

  </form>

{% endblock %}